<h2 class="form-signin-heading">Watchlist Details</h2>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>Instrument</td>
                    <td>:</td>
                    <td>{{watchlist.instrument}}</td>
                </tr>
                <tr>
                    <td>Daily</td>
                    <td>:</td>
                    <td>{{watchlist.daily}}</td>
                </tr>
                <tr>
                    <td>Weekly</td>
                    <td>:</td>
                    <td>{{watchlist.weekly}}</td>
                </tr>
                <tr>
                    <td>CandleStick</td>
                    <td>:</td>
                    <td>{{watchlist.candlestick}}</td>
                </tr>
                <tr>
                    <td>Resistence Major</td>
                    <td>:</td>
                    <td>{{watchlist.resistancemajor}}</td>
                </tr>
                <tr>
                    <td>Resistence Minor</td>
                    <td>:</td>
                    <td>{{watchlist.resistanceminor}}</td>
                </tr>
                <tr>
                    <td>Support Major</td>
                    <td>:</td>
                    <td>{{watchlist.supportmajor}}</td>
                </tr>
                <tr>
                    <td>Support Minor</td>
                    <td>:</td>
                    <td>{{watchlist.supportminor}}</td>
                </tr>
                <tr>
                    <td>Notes</td>
                    <td>:</td>
                    <td>{{watchlist.notes}}</td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td>:</td>
                    <td>{{watchlist.date}}</td>
                </tr>
            </tbody>
        </table>
        