
<div ng-include src="'templates/header.html'"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="">Home</a></li>
                <li class="active"><a href="">Watch Lists</a></li>
                <li><a href="">Trades</a></li>
                <li><a href="">Patterns</a></li>
            </ul>
        </div>
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">{{title}}</h1>
          <br />
          
            
            <input type="button" id="btnAddWatchlist" name="btnAddWatchlist" value="Add Watchlist" ng-click="addWatchlistItem();" class="btn btn-default" /> <br /><br />
            <div id="grid" class="gridStyle" ng-grid="gridOptions" style="width:900px;"></div>
            
            <!-- {{ routeParams.option }} -->
        </div>
    </div>
    
    <modal-dialog show='modalShown1' dialog-title='My Dialog' width='450px' height='60%'>
        <div ng-include src="'templates/watchlists/list.html'"></div>
    </modal-dialog>
    
    <modal-dialog show='modalShown2' dialog-title='Add Watchlist' width='450px' height='85%'>
        <div ng-include src="'templates/watchlists/addEdit.html'"></div>
    </modal-dialog>
</div>