
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Fx Team</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Help</a></li>
        </ul>
      </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="">Home</a></li>
                <li class="active"><a href="">Watch Lists</a></li>
                <li><a href="">Trades</a></li>
                <li><a href="">Patterns</a></li>
            </ul>
        </div>
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Dashboard</h1>
          <br />
          
            <ul>
                <li><strong>Instrument - Weekly - Candlestick - Resistancemajor</strong></li>
                <li ng-repeat="watchlist in watchlists">
                    {{watchlist.instrument}} - {{watchlist.weekly}} - {{watchlist.candlestick}} - {{watchlist.resistancemajor}}
                </li>
            </ul>
          
        </div>
    </div>
</div>